* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
/* config de grid System */
.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}

/* para mobile */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
 /* tablet :v */
   .col-m-1 {width: 8.33%;}
   .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px){
	/* desktop */
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* terminando la configuración */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
	background-color: #5e5e5e;
	height: 60px;
	color: white;
	box-sizing: border-box;
	padding: 20px;
}
header h1 {
	float: left;
	font-size: 16px;
	font-weight: 100;
}
.menu {
	float: right;
	font-size: 16px;
	color: #DDDF;
}
.menu ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
}
.menu ul li:hover {
	color: white;
}
.banner {
	width: 100%;
	height: 200px;
	text-align: center;
	background-color:#B7B7B7FF;
	color: white;
}
.sectionLeft, .sectionRight{
	height: 250px;
}
.sectionLeft {
	background-color: blue;
}
footer {
	text-align: center;
	height: 60px;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	background-color:#5e5e5e;
}