* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
/* config de grid System */
.row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
/* para mobile */
@media only screen and (min-width: 600px) {
 /* tablet :v */
   .col-m-1 {width: 8.33%;}
   .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px){
	/* desktop */
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* terminando la configuración */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
	background-color: #5e5e5e;
	height: 60px;
	color: white;
	box-sizing: border-box;
	padding: 20px;
}
header h1 {
	float: left;
	font-size: 16px;
	font-weight: 100;
}
.menunav{

}
.menu {
	float: right;
	font-size: 16px;
	color: #DDDF;
	overflow: hidden;
}
.menu ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
}
.menu ul li a{
	color: white;
}
.menu ul li:hover {
	color: white;
}

.banner {
	width: 100%;
	height: 200px;
	text-align: center;
	background-color:#B7B7B7FF;
	color: white;
}
.sectionLeft, .sectionRight{
	height: 250px;
}
.sectionLeft {
	/* background-color: blue; */
	box-sizing: border-box;
	padding: 20px;
	padding-left: 90px;
}
.sectionLeft + .sectionRight  h2{
	padding: 10px;
}
.sectionLeft p{
	padding: 10px;
}
.sectionLeft button {
	border: none;
	background-color: #2348FFFF;
	color: white;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
}
.sectionRight {
	width: 250px;
}
.sectionRight p:firstChild {
	padding: 10px;
}
.sectionRight .user, .tel{
	padding: 5px;
}
.cards{
	padding-left:100px;
}
.cards .container1, .container2, .container3 {
	box-shadow: 0px 0px 3px gray;
	width: 330px;
	margin-right: 15px;
}
.cards .container1 div{
	background-color: #B7B7B7FF;
	height: 200px;
	width: 300px;
	box-sizing: border-box;
	padding-top: 80px;
	margin-bottom: 10px;
}
.cards .container1 div span{
	margin-left: 40%;
}
.cards .container1 h2, .container2 h2, .container3 h2 {
	margin:10px auto;
}
.cards .container1 p, .container2 p, .container3 p {
	width: 300px;
	margin-bottom: 15px;
}
.cards .container1 button, .container2 button, .container3 button {
	border:none;
	background-color: #2348FFFF;
	color: white;
	padding: 10px;
}
.cards .container2 div{
	background-color: #B7B7B7FF;
	height: 200px;
	width: 300px;
	box-sizing: border-box;
	padding-top: 80px;
	margin-bottom: 10px;
}
.cards .container2 div span{
	margin-left: 40%;

}
.cards .container3 div{
	background-color: #B7B7B7FF;
	height: 200px;
	width: 300px;
	box-sizing: border-box;
	padding-top: 80px;
	margin-bottom: 10px;
}
.cards .container3 div span{
	margin-left: 40%;

}
footer {
	margin-top: 15px;
	text-align: center;
	height: 60px;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	background-color:#5e5e5e;
}